.cache/*
.vscode/*
!.vscode/c_cpp_properties.json
out/*
build/*
CMakeUserPresets.json
bundler/*

/third_party
!/third_party
!/third_party/sdl2webgpu
!/third_party/webgpu-dawn
!/third_party/sdl2webgpu/*
!/third_party/webgpu-dawn/*