.cache/*
.vscode/*
!.vscode/c_cpp_properties.json
third_party/cmake_fetch/*
out/*
build/*
CMakeUserPresets.json

third_party
third_party/dawn
!third_party/sdl2webgpu
!third_party/webgpu-dawn
bundler/*